# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programms\telegram-dating-bot-beta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
